#listenning-port = 44350

# some comments
# ...
max-tcp-= 100

max-tcp-per-worker = 100

# none | random | inactive
max-tcp-eviction-rule = inactive

inactive-tcp-timeout = 10

# none | close
inactive-tcp-eviction-rule = none

# nK | nM | nG
max-vm-memory = 100M

# nK | nM | nG
max-rss = 100M

eviction-pool-size = 5

# round-robin | random | min-connection | ip-hash
load-balance = ip-hash

# nK | nM | nG
tcp-read-buffer-init-size-bytes = 1M
tcp-read-buffer-max-size-bytes = 10M

# nK | nM | nG
tcp-write-buffer-init-size-bytes = 1M
tcp-write-buffer-max-size-bytes = 10M

log-file-name-prefix = yeyjlogfile

log-file-max-size = -1

log-flush-interval-second = 0.5

log-high-watermask = 1000